websocket-client
pygame-ce>=2.5.7
certifi
requests
nashpy # comment out for PyPy
numpy==2.4.6 # after numba update let this upgrade? Numba being stupid.
# numba>=0.64.0
# scipy
Logbook
pyzmq>=27.1.0
pcst_fast
networkx
# matplotlib
heapq_max
ortools # comment out for PyPy
# heap-class  this performed poorly
# dill
# if ever need fast dict for int:int or str:str or int:str -> https://github.com/touqir14/Microdict?tab=readme-ov-file

disjoint-set
unionfind
logbook
certifi

cython # comment out for PyPy
pybind11>=3.0.0
# pandas
tqdm
setuptools # comment out for PyPy
# PyMaxflow
# arraydeque