websocket-client
pygame
certifi
requests
nashpy
numpy==1.24.0 # after numba update let this upgrade? Numba being stupid.
numba
scipy
Logbook
pyzmq
pcst_fast
networkx
matplotlib
heapq_max
# heap-class  this performed poorly
# dill
# if ever need fast dict for int:int or str:str or int:str -> https://github.com/touqir14/Microdict?tab=readme-ov-file

disjoint-set
unionfind
logbook
certifi

cppimport