websocket-client
pygame-ce>=2.5.6
certifi
requests
nashpy
numpy==2.2 # after numba update let this upgrade? Numba being stupid.
numba>=0.64.0
scipy
Logbook
pyzmq>=27.1.0
pcst_fast
networkx
matplotlib
heapq_max
# heap-class  this performed poorly
# dill
# if ever need fast dict for int:int or str:str or int:str -> https://github.com/touqir14/Microdict?tab=readme-ov-file

disjoint-set
unionfind
logbook
certifi

cython
pybind11>=3.0.0
pandas
tqdm
setuptools
